<p id="notice"><%= notice %></p>

<p>
  <b>Matter father:</b>
  <%= @matrix_content_type.matter_father.name %>
</p>

<p>
  <b>Matter:</b>
  <%= @matrix_content_type.matter.name %>
</p>

<p>
  <b>Content type:</b>
  <%= @matrix_content_type.content_type.name %>
</p>


<%= link_to 'Edit', edit_admin_matrix_content_type_path(@matrix_content_type) %> |
<%= link_to 'Back', admin_matrix_content_types_path %>
