<p>
  <b><%= Ask.human_attribute_name(:description) %>:</b>
  <%= @ask.description %>
</p>

<p>
  <b><%= Ask.human_attribute_name(:details) %>:</b>
  <%= @ask.details %>
</p>


<%= link_to t('actions.edit'), edit_ask_path(@ask) %> |
<%= link_to t('actions.back'), asks_path %>
