<h1>Administration</h1>
<p><%= link_to t("activerecord.models.asks").pluralize, asks_path %></p>
<p><%= link_to t("activerecord.models.matters").pluralize, admin_matters_path %></p>
<p><%= link_to t("activerecord.models.content_types").pluralize, admin_content_types_path %></p>
<p><%= link_to t("activerecord.models.matrix_content_types").pluralize, admin_matrix_content_types_path %></p>
<p><%= link_to t("activerecord.models.articles").pluralize, articles_path %></p>
