<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @matter.name %>
</p>

<p>
  <b>Matter father:</b>
  <%= @matter.matter_father_id %>
</p>

<p>
  <b>Workflow state:</b>
  <%= @matter.workflow_state %>
</p>


<%= link_to 'Edit', edit_admin_matter_path(@matter) %> |
<%= link_to 'Back', admin_matters_path %>
