<p><%= t('devise.titles.reset_password_instructions',@resource.email) %></p>

<p><%= t('devise.password.someone_requested_change_your_password') %></p>

<p><%= link_to t('devise.actions.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= link_to t('devise.actions.if_you_dont_request') %></p>
<p><%= link_to t('devise.actions.still_have_not_changed') %></p>
